<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>


<script src="http://cdn.peerjs.com/0.3/peer.min.js"></script>
<h1>Chat!!</h1>

<div id="id_number" ></div>
<div id="my_value" ></div>
<div id="min_value" ></div>

<input type="button" value="start Echo" id="echbtn">
<div id="messages" ></div>
<input type="text" id="messageToSend">
<input type="button" value="sentToNeibghours" id="sendbtn">
<script>

Connections = [];
EchoLog = [];
Answers = [];
Waiters = [];
Starter = [];


// использование Math.round() даст неравномерное распределение!
function getRandomInt(min, max)
{
  return Math.floor(Math.random() * (max - min + 1)) + min;
}

$("#sendbtn").on('click', function (event) {
   var message = {
       type: "messageBox",
        from: peer.id,
       data:$('#messageToSend').val()
   };
    for (var conn in Connections) {
        console.log("Send message to " + Connections[conn].peer + ": " + JSON.stringify(message));
        Connections[conn].send(JSON.stringify(message));
    }
    $('#messageToSend').val("");
});

$("#echbtn").on('click', function (event) {
    var message = {};
    message.type = "echo";
    message.from = peer.id;
    message.unique_id = peer.id + "#" + getRandomInt(0, 10000000)
    Starter[message.unique_id] = true;
    Waiters[message.unique_id] = 0;
    Answers[message.unique_id] = [peer_value];
    for (var conn in Connections) {
        console.log("Send message to " + Connections[conn].peer + ": " + JSON.stringify(message));
        Connections[conn].send(JSON.stringify(message));
        Waiters[message.unique_id] += 1;
    }
});

Connect = function (id) {
    if (id in Connections) {
        console.log("Connection already exist");
        return;
    }
    var conn = peer.connect(id);
    console.log("Start new connection with " + id);
    Connections[id] = conn;
    conn.on('open', function() {
  // Receive messages
        conn.on('data', function(data) {
            console.log('Received', data);
            var message = JSON.parse(data);
            switch (message.type){
                case "message": {
                    console.log("message from " + message.from + ": " + message.data);
                    return;
                }
                case "messageBox": {
                    console.log("message from " + message.from + ": " + message.data);
                    $('#messages').append('<p> message from ' + message.from + ": " + message.data + '</p>');
                    return;
                }
                case "echo": {
                    if (!(message.unique_id in EchoLog)){
                        EchoLog[message.unique_id] = message;
                        Answers[message.unique_id] = [peer_value];
                        Waiters[message.unique_id] = 0;
                        for (var cn in Connections) {
                            if (Connections[cn].peer != message.from) {
                                var newMessage = {};
                                newMessage.type = "echo";
                                newMessage.from = peer.id;
                                newMessage.unique_id = message.unique_id;
                                console.log("Send message to " + Connections[cn].peer + ": " + JSON.stringify(newMessage));
                                Connections[cn].send(JSON.stringify(newMessage));
                                Waiters[message.unique_id] += 1;
                            }
                        }
                        if (Waiters[message.unique_id] == 0) {
                            var min_value = Math.min.apply(Math, Answers[message.unique_id]);
                            var rMessage = {};
                            rMessage.type = "recho";
                            rMessage.from = peer.id;
                            rMessage.unique_id = message.unique_id;
                            rMessage.min_value = min_value;
                            console.log("Send message to " + conn.peer + ": " + JSON.stringify(rMessage));
                            conn.send(JSON.stringify(rMessage));
                        }
                    } else {
                         var rMessage = {};
                            rMessage.type = "becho";
                            rMessage.from = peer.id;
                            rMessage.unique_id = message.unique_id;
                            console.log("Send message to " + conn.peer + ": " + JSON.stringify(rMessage));
                            conn.send(JSON.stringify(rMessage));
                    }
                    return;
                }
                case "recho": {
                    Waiters[message.unique_id] -= 1;
                    Answers[message.unique_id].push(message.min_value);
                    if (Waiters[message.unique_id] == 0) {
                            var min_value = Math.min.apply(Math, Answers[message.unique_id]);
                            if (message.unique_id in Starter) {
                                $('#min_value').html('<p>Min value: ' + min_value + '</p>');
                                return;
                            }
                            var rMessage = {};
                            rMessage.type = "recho";
                            rMessage.from = peer.id;
                            rMessage.unique_id = message.unique_id;
                            rMessage.min_value = min_value;
                            console.log("Send message to " + EchoLog[message.unique_id].from + ": " + JSON.stringify(rMessage));
                            Connections[EchoLog[message.unique_id].from].send(JSON.stringify(rMessage));
                        }
                    return;
                }
                case "becho":
                {
                    Waiters[message.unique_id] -= 1;
                    if (Waiters[message.unique_id] == 0) {
                            var min_value = Math.min.apply(Math, Answers[message.unique_id]);
                            if (message.unique_id in Starter) {
                                $('#min_value').html('<p>Min value: ' + min_value + '</p>');
                                return;
                            }
                            var rMessage = {};
                            rMessage.type = "recho";
                            rMessage.from = peer.id;
                            rMessage.unique_id = message.unique_id;
                            rMessage.min_value = min_value;
                            console.log("Send message to " + EchoLog[message.unique_id].from + ": " + JSON.stringify(rMessage));
                            Connections[EchoLog[message.unique_id].from].send(JSON.stringify(rMessage));
                        }
                    return;
                }
            }
        });

  // Send messages
        var message = {};
        message.type = "message";
        message.data = "Hello!";
        message.from = peer.id;
        conn.send(JSON.stringify(message));
    });
};



var peer = new Peer("{{ peer_id }}", {key: 'wwwvtnv74ppn9udi'});
var peer_value = {{ peer_value }};
$('#my_value').append('<p>My value: ' + peer_value + '</p>');
peer.on('open', function(id) {
  console.log('My peer ID is: ' + id);
    $('#id_number').append('<p>My id: ' + peer.id + '</p>')
});

peer.on('connection', function(conn) {
    console.log('New Connection reached with ' + conn.peer);
    Connections[conn.peer] = conn;
    conn.on('open', function() {
  //  conn.on('open', function() {
  // Receive messages
        conn.on('data', function(data) {
            console.log('Received', data);
            var message = JSON.parse(data);
            switch (message.type){
                case "message": {
                    console.log("message from " + message.from + ": " + message.data)
                    return;
                }
                case "messageBox": {
                    console.log("message from " + message.from + ": " + message.data);
                    $('#messages').append('<p> message from ' + message.from + ": " + message.data + '</p>');
                    return;
                }
                case "echo":
                {
                    if (!(message.unique_id in EchoLog)) {
                        EchoLog[message.unique_id] = message;
                        Answers[message.unique_id] = [peer_value];
                        Waiters[message.unique_id] = 0;
                        for (var cn in Connections) {
                            if (Connections[cn].peer != message.from) {
                                var newMessage = {};
                                newMessage.type = "echo";
                                newMessage.from = peer.id;
                                newMessage.unique_id = message.unique_id;
                                console.log("Send message to " + Connections[cn].peer + ": " + JSON.stringify(newMessage));
                                Connections[cn].send(JSON.stringify(newMessage));
                                Waiters[message.unique_id] += 1;
                            }
                        }
                        if (Waiters[message.unique_id] == 0) {
                            var min_value = Math.min.apply(Math, Answers[message.unique_id]);
                            var rMessage = {};
                            rMessage.type = "recho";
                            rMessage.from = peer.id;
                            rMessage.unique_id = message.unique_id;
                            rMessage.min_value = min_value;
                            console.log("Send message to " + conn.peer + ": " + JSON.stringify(rMessage));
                            conn.send(JSON.stringify(rMessage));
                        }
                    } else {
                        var rMessage = {};

                        rMessage.type = "becho";
                        rMessage.from = peer.id;
                        rMessage.unique_id = message.unique_id;
                        console.log("Send message to " + conn.peer + ": " + JSON.stringify(rMessage));
                        conn.send(JSON.stringify(rMessage));
                    }
                    return;
                }
                case "recho": {
                    Waiters[message.unique_id] -= 1;
                    Answers[message.unique_id].push(message.min_value);
                    if (Waiters[message.unique_id] == 0) {
                            var min_value = Math.min.apply(Math, Answers[message.unique_id]);
                            if (message.unique_id in Starter) {
                                $('#min_value').html('<p>Min value: ' + min_value + '</p>');
                                return;
                            }
                            var rMessage = {};
                            rMessage.type = "recho";
                            rMessage.from = peer.id;
                            rMessage.unique_id = message.unique_id;
                            rMessage.min_value = min_value;
                            console.log("Send message to " + EchoLog[message.unique_id].from + ": " + JSON.stringify(rMessage));
                            Connections[EchoLog[message.unique_id].from].send(JSON.stringify(rMessage));
                        }
                    return;
                }
                case "becho":
                {
                    Waiters[message.unique_id] -= 1;
                    if (Waiters[message.unique_id] == 0) {
                            var min_value = Math.min.apply(Math, Answers[message.unique_id]);
                            if (message.unique_id in Starter) {
                                $('#min_value').html('<p>Min value: ' + min_value + '</p>');
                                return;
                            }
                            var rMessage = {};
                            rMessage.type = "recho";
                            rMessage.from = peer.id;
                            rMessage.unique_id = message.unique_id;
                            rMessage.min_value = min_value;
                            console.log("Send message to " + EchoLog[message.unique_id].from + ": " + JSON.stringify(rMessage));
                            Connections[EchoLog[message.unique_id].from].send(JSON.stringify(rMessage));
                        }
                    return;
                }
            }
        });

  // Send messages
       var message = {};
        message.type = "message";
        message.data = "Hello!";
        message.from = peer.id;
        console.log("Send message to " + conn.peer + ": " + JSON.stringify(message));
        conn.send(JSON.stringify(message));
    });
});


init = JSON.parse("{{ peer_connections|tojson|safe }}");
for (i in init) {
    Connect(init[i]);
}


</script>
</body>
</html>